!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7]    <html class="no-js ie7 oldie" lang="en">
/[if IE 8]    <html class="no-js ie8 oldie" lang="en">
/[if gt IE 8] <!-->  <html class="no-js" lang="en"> <!--
%head
  %meta{'charset' => 'utf-8' }
  %meta{'name' => 'description', 'content' => 'mquzz ist ein Quiz mit einem neuen Filmzitat t&auml;glich. Teste jetzt dein Filmwissen auf die andere Art.' }  
  %meta{'name' => 'author', 'content' => 'Oliver Heck' }
  %meta{'name' => 'keywords', 'content' => 'filmzitate raten, filmzitat, zitate filme, filmquiz, t&auml;glich Zitat' }
  
  %meta{'http-equiv' => 'imagetoolbar', 'content' => 'false'}
  
  %meta{'name' => 'application-name', 'content' => 'mquzz'}
  %meta{'name' => 'msapplication-tooltip', 'content' => 'Ein audiobasiertes Filmquiz'}
  %meta{'name' => 'msapplication-starturl', 'content' => 'http://mquzz.de'}
  %meta{'name' => 'msapplication-task', 'content' => 'name=Regeln;action-uri=http://mquzz.de/regeln'}
  %meta{'name' => 'msapplication-task', 'content' => 'name=Info;action-uri=http://mquzz.de/info'}
  
  %meta{'property' => 'og:title', 'content' => 'mquzz'}
  %meta{'property' => 'og:description', 'content' => 'T&auml;glich ein neues Filmzitat erraten'}
  %meta{'property' => 'og:image', 'content' => 'http://mquzz.de/mquzz.png'}
  %meta{'property' => 'og:type', 'content' => 'movie'}
  %meta{'property' => 'og:url', 'content' => 'http://mquzz.de'}
  %meta{'property' => 'og:site_name', 'content' => 'mquzz - ein audiobasiertes Filmquiz'}

  %title mquzz - Jeden Tag ein neues Filmzitat erraten
  
  %link(rel="stylesheet" href="/css/style.css?v=2")
  %link(rel="stylesheet" href="/css/screen.css?v=2")
  %link(rel="stylesheet" href="/css/fancy.css?v=2")
  %link(rel="stylesheet" href="/css/button.css?v=2")
  /[if lt IE 8] <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">  
  %link(rel="stylesheet" href="/css/css.css?v=2")
  %script(src="/js/libs/modernizr-min.js")
  %script(src="https://apis.google.com/js/plusone.js" type="text/javascript")
    {lang: 'de'}

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-8875296-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

%body
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  %div.container#nav-area
    %div.span-24.last
      %h1
        mquzz
    
    %div.span-6.append-18
      %nav
        %ul.mq-nav-list
          %li
            %div.mq-box#current
              %a{ :href => '' }
                %h3.alt raten
          %li
            %div.mq-box#rules
              %a{ :href => '' }
                %h3.alt regeln
          %li
            %div.mq-box#info
              %a{ :href => '' }
                %h3.alt info
    %hr
    
  %div.container#main-area

  %div.container#list-area
    %div.span-24
      %p.incr Weitere Filmzitate:
      %nav#quotes
        %ol.mq-nav-list

    %div.span-24.prepend-top
      <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-url="http://mquzz.de"
      data-count="horizontal"
      data-via="mquzz"
      data-lang="de">Twittern</a>
      <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      <g:plusone size="medium" href="http://mquzz.de"></g:plusone>
      <div class="fb-like"
      data-href="http://mquzz.de"
      data-send="true"
      data-layout="button_count"
      data-width="450"
      data-show-faces="false"
      data-font="arial"></div>


  %div.container#info-area
    %div.span-24
      %h5.bottom
        Mir gef&auml;llt das was ich hier sehe - kann ich das Projekt irgendwie unterst&uuml;tzen?
      %p
        Jede Hilfe ist willkommen, sei es durch Tipps und Tricks, technische
        Hilfen, Ideen, durch eine kleine Spende oder einfach nur durch
        einen netten Kommentar.
        %form{ :action => 'https://www.paypal.com/cgi-bin/webscr', :method => 'post' }
          %input{ :type => 'hidden', :name => 'cmd', :value => '_s-xclick' }
          %input{ :type => 'hidden', :name => 'hosted_button_id', :value => 'WBNXWDLPMP9YC' }
          %input{ :type => 'image', :src => 'https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif', :border => '0', :name => 'submit', :alt => 'Jetzt einfach, schnell und sicher online bezahlen - mit PayPal.' }
          %img{ :alt => '', :border => '0', :src => 'https://www.paypalobjects.com/de_DE/i/scr/pixel.gif', :width => '1', :height => '1' }
    %div.span-24
      %h5.bottom
        Wie kann ich auf dem Laufenden bleiben?
      %p
        Am einfachsten ist es dem zugeh&ouml;rigen
        %a{ :href => 'http://www.twitter.com/mquzz', :target => '_blank' }
          Twitter-Account
        zu folgen.
    %div.span-24
      %h5.bottom
        Ist es m&ouml;glich ein bestimmtes Zitat direkt zu adressieren damit es z.B. via E-Mail verschickt werden kann?
      %p
        Ja, jedes Zitat hat eine eindeutige Nummer die kontinuierlich hochgez&auml;hlt wird und
        &uuml;ber diese Nummer k&ouml;nnen einzelne Zitate direkt angesprochen werden. Hierzu muss die
        Nummer an das Ende der Web-Adresse angeh&auml;ngt werden. Beispielsweise kann mittels der Adresse
        %code http://mquzz.de/14
        das 14. Zitat ge&ouml;ffnet werden.
        Wird keine Nummer an die Adresse angeh&auml;ngt, so wird das aktuellste Zitat geladen.
    %div.span-24
      %h5.bottom
        Welche Komponenten sind bei der Realisierung verwendet worden?
      %p
        Die Server-Seite ist mit mit dem Ruby und 
        %a{ :href => 'http://www.sinatrarb.com/', :target => '_blank'}
          Sinatra
        gebaut. Zur Datenbankkommunikation wird
        %a{ :href => 'http://mongoid.org/', :target => '_blank'}
          mongoid
        verwendet. Zus&auml;tzlich wurde das Ruby gem 
        %a{ :href => 'http://flori.github.com/amatch/', :target => '_blank'}
          amatch
        verwendet, um mittels Levenshtein Algorithmus den eingegeben Titel zu vergleichen.
        Das Layout der Seite wurde durch
        %a{ :href => 'http://haml-lang.com/', :target => '_blank'}
          haml
        definiert.
      %p
        Die Server implementierung enth&auml;lt nur eine einzige Seite mit Markup und besteht sonst
        nur aus einer JSON Schnittstellt, welche durch die Logik auf Client-Seite angesprochen wird.
        Die Basis f&uuml;r die Struktur dieser Seite bildet
        %a{ :href => 'http://html5boilerplate.com/', :target => '_blank'}
          html5 boilerplate
        in angepasster Form, sowie
        %a{ :href => 'http://blueprintcss.org/', :target => '_blank'}
          blueprint.css
        f&uuml; die Positionierung und der Schrift.
        Als Abstrkation zur html5 Audio API wird das gro&szlig;artige und einfache
        %a{ :href => 'http://buzz.jaysalvat.com/', :target => '_blank'}
          buzz.js
        verwendet. Die Strukturierung der Logik innerhlab der Seite wird durch
        %a{ :href => 'http://documentcloud.github.com/backbone', :target => '_blank'}
          backbone.js
        unterst&uuml;tzt. Auch auf
        %a{ :href => 'http://jquery.com/', :target => '_blank'}
          jQuery
        und
        %a{ :href => 'http://documentcloud.github.com/underscore/', :target => '_blank'}
          underscore.js
        wird nicht verzichtet.
    %div.span-24
      %h5.bottom
        Wo und wie ist die Seite gehostet?
      %p
        Das folgende Bild gibt einen groben, daf&uuml;r schlecht gezeichneten &Uuml;berblick
        der einzelnen Komponenten:
      %img{ :src => 'img/comps.png' }
      %p
        Der Quellcode ist in git verwaltet und entsprechend auf
        %a{ :href => 'http://github.com/dafreakl/mquzz', :target => '_blank'}
          github
        zu finden. 
        %a{ :href => 'http://www.heroku.com', :target => '_blank' }
          Heroku
        erm&ouml;glicht das hosten eines entsprechendes Projekts und ist somit
        der Anfrageendpunkt. Als Datenbanksystem wird
        %a{ :href => 'http://www.mongodb.org/', :target => '_blank' }
          mongodb
        verwendet, welches &uuml;ber ein Heroku Add-On bei
        %a{ :href => 'https://mongolab.com', :target => '_blank' }
          mongolab
        gehostet wird. Der Zugriff erfolgt von der auf Heroku laufenden Anwendung.
        Desweiteren wird das CDN von google verwendet, um
        %a{ :href => 'http://jquery.com', :target => '_blank' }
          jQuery
        einzubinden. Die Audiodateien (mp3 und ogg) der einzelnen Zitate sind in
        %a{ :href => 'http://aws.amazon.com/de/s3', :target => '_blank' }
          Amazons S3
        abgelegt und werden von dort direkt vom Client angefragt.

  %div.container#rules-area
    %div.span-24
      %h5.bottom
        Wie funktioniert das hier?
      %p
        Ganz einfach:<br />
        1.) Lautsprecher anmachen<br />
        2.) Filmzitat ausw&auml;hlen und abspielen<br />
        3.) Filmtitel des abgespielten Zitats eingeben und L&ouml;sung abschicken <br />
        Das Ergebnis wird direkt ausgewertet und anschlie&szlig;end angezeigt.
    %div.span-24
      %h5.bottom
        Welcher Titelname kann eingegeben werden und wird als richtig gewertet?
      %p
        Der korrekte Titel ist der Web-Seite
        %a{ :href => 'http://imdb.com', :target => '_blank' }
          %code
            http://imdb.com
        entnommen. Da es sich hier jedoch um ein Quiz in deutscher Sprache handelt,
        sind die laut imdb angegebenen, deutschen Titel korrekt.
        Zus&auml;tzlich ist auch noch der englische Titel g&uuml;ltig. Beispiel:
        Es wird bei einem entsprechenden Zitat entweder der deutsche Filmtitel
        %em Stirb Langsam
        oder der englische Originaltitel
        %em Die Hard
        als korrekt gewertet.
    %div.span-24
      %h5.bottom
        Wie muss die Eingabe bei Filmen mit mehrere Teilen bzw. Episoden erfolgen?
      %p
        Auch hier gilt: Grundlage ist die Angabe bei
        %a{ :href => 'http://imdb.com', :target => '_blank' }
          %code
            http://imdb.com
        , d.h. es muss immer der dort angegeben, vollst&auml;ndige Titel eingegeben werden
        Beispiele: Bei einem Zitat aus dem dritten Film der
        %em Zur&uuml;ck in die Zukunft
        Trilogie lautet die korrekte L&ouml;sung
        %em Zur&uuml;ck in die Zukunft III
        , also geschrieben mit r&ouml;mischer Zahl und kein Zusatz bzw. Untertitel.
        Bei einem Zitat aus dem ersten Teil der Herr der Ringe Trilogie w&uuml;rde der der korrekte Titel
        %em Der Herr der Ringe - Die Gef&auml;hrten
        lauten, also ohne Episodennummer daf&uuml;r aber mit vollst&auml;ndigem Titel sowie Untertitel.
    %div.span-24
      %h5.bottom
        Wie tolerant ist die Auswertung der eingegeben L&ouml;sung - werden Tippfehler verschmerz und
        Sonderzeichen wie ein Bindestirch bis zu einem gewissen Grad akzeptiert?
      %p
        Es wird kein 1:1 Vergleich des eingegebenen Textes mit der hinterlegten L&ouml;sung durchgef&uuml;hrt.
        Die Vergleichsfunktion ist tolerant gegen&uuml;ber Tippfehler, also falschen Buchstaben an falscher Stelle in
        Abh&auml;ngigkeit der L&auml;nge des L&ouml;sungswortes, d.h. l&auml;ngere W&ouml;rter d&uuml;rfen mehr
        Tippfehler enthalten als k&uuml;rzere W&ouml;rter.
        Da Bindestriche in Filmtiteln h&auml;ufig als Trennzeichen verwendet werden, hat dieses Zeichen eine gesonderte Rolle
        und wird vom Vergleich ausgeschlossen, wodurch ein vergessener Bindestrich oder ein &uuml;berfl&uuml;ssiger Bindestrich
        zu keinem negativen Ergebnis f&uuml;hren.
        Zwischen Gro&szlig;- und Kleinschreibung wird nicht unterschieden.

  %div.container#error-area
    %div.error
      Dein Browser unterst&uuml;tzt das audio tag nicht, bitte benutzt einen modernen Browser wie Chrome,
      Firefox, Opera oder den Internet Explorer ab version 9.
        
  %div.container#impressum-data
    %div.span-24
      %p
        %h5 Impressum
      %p
        %img{ :src => 'img/impressum.png' }
      %p
        %i
          Erstellt mit dem
          %a{ :href => 'http://www.e-recht24.de/impressum-generator.html', :target => '_blank' }
            Impressum-Generator Privatperson
          von eRecht24.
      %p
        %h5 Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Facebook-Plugins (Like-Button)
      %p
        Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook,
        1601 South California Avenue, Palo Alto, CA 94304, USA integriert.
        Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
        dem "Like-Button" ("Gef&auml;llt mir") auf unserer Seite. Eine &Uuml;bersicht
        &uuml;ber die Facebook-Plugins finden Sie hier:
        %a{ :href => 'http://developers.facebook.com/docs/plugins/', :target => '_blank' }
          http://developers.facebook.com/docs/plugins/.
        Wenn Sie unsere Seiten besuchen, wird &uuml;ber das Plugin eine direkte Verbindung zwischen Ihrem
        Browser und dem Facebook-Server hergestellt. Facebook erh&auml;lt dadurch
        die Information, dass Sie mit Ihrer IP-Adresse unsere Seite
        besucht haben. Wenn Sie den Facebook "Like-Button" anklicken w&auml;hrend
        Sie in Ihrem Facebook-Account eingeloggt sind, k&ouml;nnen Sie die Inhalte
        unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann
        Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir
        weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom
        Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch Facebook
        erhalten. Weitere Informationen hierzu finden Sie in der
        Datenschutzerkl&auml;rung von facebook unter
        %a{ :href => 'http://de-de.facebook.com/policy.php', :target => '_blank' }
          http://de-de.facebook.com/policy.php.
      %p
        Wenn Sie nicht w&uuml;nschen, dass Facebook den Besuch unserer Seiten Ihrem 
        Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem
        Facebook-Benutzerkonto aus.
      %p
        %h5 Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google Analytics
      %p
        Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google").
        Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert
        werden und die eine Analyse der Benutzung der Website durch Sie erm&ouml;glichen.
        Die durch den Cookie erzeugten Informationen &uuml;ber Ihre Benutzung dieser Website werden
        in der Regel an einen Server von Google in den USA &uuml;bertragen und dort gespeichert.
        Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre
        IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europ&auml;ischen
        Union oder in anderen Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen Wirtschaftsraum zuvor gek&uuml;rzt.
      %p
        Nur in Ausnahmef&auml;llen wird die volle IP-Adresse an einen Server von Google
        in den USA &uuml;bertragen und dort gek&uuml;rzt. Im Auftrag des Betreibers
        dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der
        Website auszuwerten, um Reports &uuml;ber die Websiteaktivit&auml;ten zusammenzustellen
        und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen
        gegen&uuml;ber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics
        von Ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt.
      %p
        Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung
        Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie
        in diesem Fall gegebenenfalls nicht s&auml;mtliche Funktionen dieser Website
        vollumf&auml;nglich werden nutzen k&ouml;nnen. Sie k&ouml;nnen dar&uuml;ber hinaus
        die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website
        bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser
        Daten durch Google verhindern, indem sie das unter dem folgenden Link verf&uuml;gbare
        Browser-Plugin herunterladen und installieren:
        %a{ :href => 'http://tools.google.com/dlpage/gaoptout?hl=de', :target => '_blank' }
          http://tools.google.com/dlpage/gaoptout?hl=de.
      %p
        %h5 Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Google +1
      %p
        %i Erfassung und Weitergabe von Informationen:
      %p
        Mithilfe der Google +1-Schaltfl&auml;che k&ouml;nnen Sie Informationen weltweit
        ver&ouml;ffentlichen. &uuml;ber die Google +1-Schaltfl&auml;che erhalten Sie und andere
        Nutzer personalisierte Inhalte von Google und unseren Partnern. Google
        speichert sowohl die Information, dass Sie f&uuml;r einen Inhalt +1 gegeben
        haben, als auch Informationen &uuml;ber die Seite, die Sie beim Klicken auf
        +1 angesehen haben. Ihre +1 k&ouml;nnen als Hinweise zusammen mit Ihrem
        Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in
        Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf
        Websites und Anzeigen im Internet eingeblendet werden.
      %p
        Google zeichnet Informationen &uuml;ber Ihre +1-Aktivit&auml;ten auf, um die 
        Google-Dienste f&uuml;r Sie und andere zu verbessern. Um die Google 
        +1-Schaltfl&auml;che verwenden zu k&ouml;nnen, ben&ouml;tigen Sie ein weltweit 
        sichtbares, &ouml;ffentliches Google-Profil, das zumindest den f&uuml;r das 
        Profil gew&auml;hlten Namen enthalten muss. Dieser Name wird in allen 
        Google-Diensten verwendet. In manchen F&auml;llen kann dieser Name auch 
        einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten &uuml;ber 
        Ihr Google-Konto verwendet haben. Die Identit&auml;t Ihres Google-Profils 
        kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder 
        &uuml;ber andere identifizierende Informationen von Ihnen verf&uuml;gen.
      %p
        %i Verwendung der erfassten Informationen:
      %p
        Neben den oben erl&auml;uterten Verwendungszwecken werden die von Ihnen 
        bereitgestellten Informationen gem&auml;&szlig; den geltenden 
        Google-Datenschutzbestimmungen genutzt. Google ver&ouml;ffentlicht 
        m&ouml;glicherweise zusammengefasste Statistiken &uuml;ber die +1-Aktivit&auml;ten 
        der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa
        Publisher, Inserenten oder verbundene Websites.
      %p
        %h5 Datenschutzerkl&auml;rung f&uuml;r die Nutzung von Twitter
      %p
        Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden.
        Diese Funktionen werden angeboten durch die Twitter Inc., 795
        Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen
        von Twitter und der Funktion "Re-Tweet" werden die von Ihnen
        besuchten Webseiten mit Ihrem Twitter-Account verkn&uuml;pft und anderen
        Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter &uuml;bertragen.
      %p
        Wir weisen darauf hin, dass wir als Anbieter der Seiten keine
        Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch
        Twitter erhalten. Weitere Informationen hierzu finden Sie in der
        Datenschutzerkl&auml;rung von Twitter unter
        %a{ :href => 'http://twitter.com/privacy', :target => '_blank' }
          http://twitter.com/privacy.
        Ihre Datenschutzeinstellungen bei Twitter k&ouml;nnen Sie in den Konto-Einstellungen unter
        %a{ :href => 'http://twitter.com/account/settings', :target => '_blank' }
          http://twitter.com/account/settings
        &auml;ndern.
      %p
        Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten
        durch Dritte zur &Uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung
        und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen.
        Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im
        Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
      %p
        %i
          Quellen:
          %a{ :href => 'http://www.e-recht24.de/artikel/datenschutz/6590-facebook-like-button-datenschutz-disclaimer.html', :target => '_blank' }
            eRecht24 Facebook Datenschutzerkl&auml;rung
          , 
          %a{ :href => 'http://www.google.com/intl/de_ALL/analytics/tos.html', :target => '_blank' }
            Google Analytics Datenschutzerkl&auml;rung
          , 
          %a{ :href => 'http://www.google.com/intl/de/+/policy/+1button.html', :target => '_blank' }
            Google +1 Datenschutzerkl&auml;rung 
          , 
          %a{ :href => 'http://twitter.com/privacy', :target => '_blank' }
            Twitter Bedingungen.


  %div.container#impressum-area
    %div.span-24.prepend-11
      %p.small#impressum
        Impressum


/Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
:javascript
  window.jQuery || document.write('<script src="/js/libs/jquery-1.7.min.js">\x3C/script>')

%script(src="/js/libs/underscore-min.js")
%script(src="/js/libs/json2.js")
%script(src="/js/libs/backbone-min.js")
%script(src="/js/libs/buzz-min.js")
%script(src="/js/plugins.js")
%script(src="/js/app-min.js")

/[if lt IE 7]
  %script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
  :javascript
    window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

:javascript
  $(function(){
    window.quotes.reset(#{@quotes.to_json()});
    Backbone.history.start({pushState: true});
  });


%script{ :type => 'text/template', :id => 'quote-template' }
  %div.mq-box.mq-nav-item <%= quote.get('number') %>


%script{ :type => 'text/template', :id => 'quote-detail-template' }
  %div.span-24
    %h3.bottom Zitat Nummer <%= quote.get('number') %>
    %span.small
      erstellt am
      <time datetime="<%= quote.get('qdate') %>"><%= formattedDate %></time>
      mit bisher <%= quote.get('commits') %> Einsendungen
    %div#progress.mq-progress-bar
    %div#play.mq-play-btn.top
      /%img{ :src => 'img/playarrow.png' }
      %div.mq-play-arrow
    %input.title.mq-input.span-22{ :name => 'solution', :placeholder => "Zitat abspielen und Antwort hier eingeben" }
    
    %div.span-24
      %p.prepend-0
        %a.button.mq-button abschicken
    %hr


%script{ :type => 'text/template', :id => 'quote-result-template' }
  %div.span-8
    %p
      %h3.bottom L&ouml;sung von Zitat Nummer <%= quote.number %>
      %span.small
        bisherige L&ouml;sungsquote liegt bei <%= rate %>% (<%= quote.solutions %>/<%= quote.commits %>)
  %div.span-16.last
    %p
      %nav
        %ul.mq-nav-list
          %li
            <a target='_blank' href='<%= quote.trailer %>'><div class='mq-box mq-nav-item'>trailer</div></a>
          %li
            <a target='_blank' href='<%= quote.info %>'><div class='mq-box mq-nav-item'>info</div></a>
          %li
            <a target='_blank' href='<%= quote.buy %>'><div class='mq-box mq-nav-item'>amazon</div></a>
  %div.span-24.last
    Du hattest
    %span.small
      <%= posted %>
    eingegeben.
    
    <% if( quote.titles.length === 1  ){ %>
    Die richtige Antwort ist
    %span.small
      <%= quote.titles[0] %>.
    <% } else { %>
    M&ouml;gliche richtige Antworten sind
    %span.small
      <%= quote.titles[0] %>
    sowie
    %span.small
      <%= quote.titles[1] %>.
    <% } %>
    Somit ist deine Antwort
    %h2.bottom
      <% if( correct  ){ %>
      %span.mq-sol.correct
        richtig
      <% } else { %>
      %span.mq-sol.wrong
        falsch      
      <% } %>
    %hr

</html>