!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7]    <html class="no-js ie7 oldie" lang="en">
/[if IE 8]    <html class="no-js ie8 oldie" lang="en">
/[if gt IE 8] <!-->  <html class="no-js" lang="en"> <!--
%head
  %meta{'charset' => 'utf-8' }
  %meta{'name' => 'description', 'content' => 'mquzz ist ein audiobasiertes Filmquiz mit einem t&auml;glich neuen Zitat. Teste jetzt dein Filmwissen auf eine andere Art.' }  
  %meta{'name' => 'author', 'content' => 'Oliver Heck' }
  %meta{'name' => 'keywords', 'content' => 'filmzitate raten, filmzitat, zitate filme, filmquiz, t&auml;glich Zitat' }
  
  %meta{'http-equiv' => 'imagetoolbar', 'content' => 'false'}
  
  %meta{'name' => 'application-name', 'content' => 'mquzz'}
  %meta{'name' => 'msapplication-tooltip', 'content' => 'Ein audiobasiertes Filmquiz'}
  %meta{'name' => 'msapplication-starturl', 'content' => 'http://mquzz.de'}
  %meta{'name' => 'msapplication-task', 'content' => 'name=Regeln;action-uri=http://mquzz.de/regeln'}
  %meta{'name' => 'msapplication-task', 'content' => 'name=Info;action-uri=http://mquzz.de/info'}
  
  %meta{'property' => 'og:title', 'content' => 'mquzz'}
  %meta{'property' => 'og:description', 'content' => 'Ein audiobasiertes Filmquiz'}
  %meta{'property' => 'og:image', 'content' => 'http://mquzz.de/mquzz.jpg'}
  %meta{'property' => 'og:type', 'content' => 'movie'}
  %meta{'property' => 'og:url', 'content' => 'http://mquzz.de'}
  %meta{'property' => 'og:site_name', 'content' => 'mquzz - ein audiobasiertes Filmquiz'}

  %title mquzz - eine audiobasiertes Filmquiz in deutscher Sprache
  
  %link(rel="stylesheet" href="/css/style.css?v=2")
  %link(rel="stylesheet" href="/css/screen.css?v=2")
  %link(rel="stylesheet" href="/css/fancy.css?v=2")
  %link(rel="stylesheet" href="/css/button.css?v=2")
  /[if lt IE 8] <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">  
  %link(rel="stylesheet" href="/css/css.css?v=2")
  %script(src="/js/libs/modernizr.js")
  %script(src="https://apis.google.com/js/plusone.js" type="text/javascript")
    {lang: 'de'}

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-8875296-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

%body
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  %div.container#nav-area
    %div.span-24.last
      %h1
        mquzz
    
    %div.span-6.append-18
      %nav
        %ul.mq-nav-list
          %li
            %div.mq-box#current
              %a{ :href => '' }
                %h3.alt raten
          %li
            %div.mq-box#rules
              %a{ :href => '' }
                %h3.alt regeln
          %li
            %div.mq-box#info
              %a{ :href => '' }
                %h3.alt info
    %hr
    
  %div.container#main-area

  %div.container#list-area
    %div.span-24
      %p.incr Weitere Filmzitate:
      %nav#quotes
        %ol.mq-nav-list

    %div.span-24.prepend-top
      <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-url="http://mquzz.de"
      data-count="horizontal"
      data-via="mquzz"
      data-lang="de">Twittern</a>
      <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      <g:plusone size="medium" href="http://mquzz.de"></g:plusone>
      <div class="fb-like"
      data-href="http://mquzz.de"
      data-send="true"
      data-layout="button_count"
      data-width="450"
      data-show-faces="false"
      data-font="arial"></div>


  %div.container#info-area
    %div.span-24
      %h5.bottom
        Mir gef&auml;llt das was ich hier sehe - kann ich irgendwie das Projekt unterst&uuml;tzen?
      %p
        Jede Hilfe ist willkommen, sei es durch Tipps und Tricks, technische
        Hilfen, Ideen, durch eine kleine Spende mittels des PayPal Knopfs oder einfach nur durch
        einen netten Kommentar.
        %form{ :action => 'https://www.paypal.com/cgi-bin/webscr', :method => 'post' }
          %input{ :type => 'hidden', :name => 'cmd', :value => '_s-xclick' }
          %input{ :type => 'hidden', :name => 'hosted_button_id', :value => 'WBNXWDLPMP9YC' }
          %input{ :type => 'image', :src => 'https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif', :border => '0', :name => 'submit', :alt => 'Jetzt einfach, schnell und sicher online bezahlen - mit PayPal.' }
          %img{ :alt => '', :border => '0', :src => 'https://www.paypalobjects.com/de_DE/i/scr/pixel.gif', :width => '1', :height => '1' }
    %div.span-24
      %h5.bottom
        Wie kann ich hier auf dem Laufenden bleiben?
      %p
        Am einfachsten ist es dem zugeh&ouml;rigen
        %a{ :href => 'http://www.twitter.com/mquzz', :target => '_blank' }
          Twitter-Account
        zu folgen. Bei Fragen, Annmerkungen oder Kritik hilft auch eine E-Mail an da_freakl( at )hotmail.de
    %div.span-24
      %h5.bottom
        Ist es m&ouml;glich ein bestimmtes Zitat direkt zu adressieren?
      %p
        Ja, jedes Zitat hat eine eindeutige Nummer die kontinuierlich hochgez&auml;hlt wird und
        mit dieser Nummer k&ouml;nnen einzelne Zitate direkt angesprochen werden. Hierzu muss lediglich die
        Nummer an die Web-Adresse angeh&auml;ngt werden. Beispielsweise kann mittels der Adresse
        %code http://mquzz.de/14
        direkt das 14. Zitat angesprochen werden.
        Wird keine Nummer an die Adresse angeh&auml;ngt, so wird immer das aktuellste Zitat geladen.

    %div.span-24
      %h5.bottom
        Welche Komponenten sind bei der Realisierung verwendet worden?
      %p
        Die Server-Seite ist mit
        %a{ :href => 'http://www.sinatrarb.com/', :target => '_blank'}
          Sinatra
        f&uuml;r Ruby realisiert. Zur Kommunikation mit der Datenbank wird
        %a{ :href => 'http://mongoid.org/', :target => '_blank'}
          mongoid
        verwendet. Als zus&auml;tzliches gem wurde
        %a{ :href => 'http://flori.github.com/amatch/', :target => '_blank'}
          amatch
        verwendet, um mittels Levenshtein Algorithmus
        den eingegeben Titel zu vergleichen. Das Layout der Seite wurde mit
        %a{ :href => 'http://haml-lang.com/', :target => '_blank'}
          haml
        definiert.
      %p
        Da der Server relativ schlank gehalten ist befindet sich die wesentliche Logik auf der Client-Seite.
        Die Basis der Seite bildet
        %a{ :href => 'http://html5boilerplate.com/', :target => '_blank'}
          html5 boilerplate
        in angepasster Form, sowie
        %a{ :href => 'http://blueprintcss.org/', :target => '_blank'}
          blueprint.css
        f&uuml;
        die Positionierung und der Schrift.
        Als Abstrkation und einheitlichen Schnittstelle zur html5 audio API wird das grossartige
        %a{ :href => 'http://buzz.jaysalvat.com/', :target => '_blank'}
          buzz.js
        verwendet.
        Die Strukturierung der Anwendung wird durch
        %a{ :href => 'http://documentcloud.github.com/backbone', :target => '_blank'}
          backbone.js
        realisiert.
        Ebenso wird auf
        %a{ :href => 'http://jquery.com/', :target => '_blank'}
          jQuery
        und
        %a{ :href => 'http://documentcloud.github.com/underscore/', :target => '_blank'}
          underscore.js
        zur&uuml;ckgegriffen.
    %div.span-24
      %h5.bottom
        Wo sind die einzelnen Bestandteile der Seite gehostet?
      %p
        Das folgende Bild gibt einen groben &Uuml;berblick, wo die einzelnen Elemente
        zu finden sind:
      %img{ :src => 'img/comps.png' }
      %p
        Der Quellcode ist mittels git verwaltet und auf
        %a{ :href => 'http://github.com/dafreakl/mquzz', :target => '_blank'}
          github
        zu finden. 
        %a{ :href => 'http://www.heroku.com', :target => '_blank' }
          Heroku
        erm&ouml;glicht das einfache hosten eines entsprechendes Projekts und dient in
        als Anfrageendpunkt. Als Datenbanksystem wird
        %a{ :href => 'http://www.mongodb.org/', :target => '_blank' }
          mongodb
        verwendet, welche bei
        %a{ :href => 'https://mongolab.com', :target => '_blank' }
          mongolab
        gehostet wird. Der Zugriff erfolgt von der auf Heroku laufenden Anwendung.
        Desweiteren wird das CDN von google verwendet, um
        %a{ :href => 'http://jquery.com', :target => '_blank' }
          jQuery
        einzubinden. Die Audiodateien (mp3 und ogg) der einzelnen Zitate sind in
        %a{ :href => 'http://aws.amazon.com/de/s3', :target => '_blank' }
          Amazons S3
        abgelegt und werden von dort direkt vom Client angefragt.
    %div.span-24
      %h5.bottom
        Ist der Quelltext komplett einsichtlich?
      %p
        Fast, das meiste ist unter folgendem Link bei github zu finden
        %a{ :href => 'http://github.com/dafreakl/mquzz', :target => '_blank'}
          mquzz@github



  %div.container#rules-area
    %div.span-24
      %h5.bottom
        Wie funktioniert das hier?
      %p
        Ganz einfach:<br />
        1.) Lautsprecher anmachen<br />
        2.) Filmzitat ausw&auml;hlen und abspielen<br />
        3.) Filmtitel des abgespielten Zitats eingeben und L&ouml;sung abschicken <br />
        Das Ergebnis wird direkt ausgewertet und anschliessend angezeigt.
    %div.span-24
      %h5.bottom
        Welcher Titelname kann eingegeben werden und wird als richtig gewertet?
      %p
        Der korrekte Titel ist
        %a{ :href => 'http://imdb.com', :target => '_blank' }
          %code
            http://imdb.com
        entnommen. Da es sich hier jedoch um ein Quiz in deutscher Sprache handelt,
        sind die laut imdb angegebenen, deutschen Titel immer korrekt.
        Zus&auml;tzlich ist auch noch der englische, meist Original-, Titel g&uuml;ltig. Beispiel:
        Es wird bei einem entsprechenden Zitat entweder de deutsche Filmtitel
        %em Stirb Langsam
        oder der englische Originaltitel
        %em Die Hard
        als korrekt gewertet.
    %div.span-24
      %h5.bottom
        Wie muss die Eingabe bei Filmen mit mehrere Teilen bzw. Episoden erfolgen?
      %p
        Auch hier gilt: Grundlage ist die Angabe bei
        %a{ :href => 'http://imdb.com', :target => '_blank' }
          %code
            http://imdb.com
        , d.h. es muss immer der dort angegeben, vollst&auml;ndige Titel eingegeben werden
        Beispiele: Bei einem Zitat aus dem dritten Film der
        %em Zur&uuml;ck in die Zukunft
        Trilogie lautet die korrekte L&ouml;sung
        %em Zur&uuml;ck in die Zukunft III
        , also geschrieben mit r&ouml;mischer Zahl und kein Zusatz bzw. Untertitel.
        Bei einem Zitat aus dem ersten Teil der Herr der Ringe Trilogie w&uuml;rde der der korrekte Titel
        %em Der Herr der Ringe - Die Gef&auml;hrten
        lauten, also ohne Episodennummer daf&uuml;r aber mit vollst&auml;ndigem Titel sowie Untertitel.
    %div.span-24
      %h5.bottom
        Wie tolerant ist die Auswertung der eingegeben L&ouml;sung - werden Tippfehler verschmerz und
        Sonderzeichen wie ein Bindestirch bis zu einem gewissen Grad akzeptiert?
      %p
        Es wird kein 1:1 Vergleich des eingegebenen Textes mit der hinterlegten L&ouml;sung durchgef&uuml;hrt.
        Die Vergleichsfunktion ist tolerant gegen&uuml;ber Tippfehler, also falschen Buchstaben an falscher Stelle in
        Abh&auml;ngigkeit der L&auml;nge des L&ouml;sungswortes, d.h. l&auml;ngere W&ouml;rter d&uuml;rfen mehr
        Tippfehler enthalten als k&uuml;rzere W&ouml;rter.
        Da Bindestriche in Filmtiteln h&auml;ufig als Trennzeichen verwendet werden, hat dieses Zeichen eine gesonderte Rolle
        und wird vom Vergleich ausgeschlossen, wodurch ein vergessener Bindestrich oder ein &uuml;berfl&uuml;ssiger Bindestrich
        zu keinem negativen Ergebnis f&uuml;hren.
        Zwischen Gro&szlig;- und Kleinschreibung wird nicht unterschieden.

  %div.container#error-area
    %div.error
      Dein Browser unterst&uuml;tzt das audio tag nicht, bitte benutzt einen modernen Browser wie chrome,
      firefox, opera oder den ie ab version 9.



/Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
:javascript
  window.jQuery || document.write('<script src="/js/libs/jquery-1.7.min.js">\x3C/script>')

%script(src="/js/libs/underscore-min.js")
%script(src="/js/libs/json2.js")
%script(src="/js/libs/backbone-min.js")
%script(src="/js/libs/buzz.js")
%script(src="/js/plugins.js")
%script(src="/js/app.js")

/[if lt IE 7]
  %script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
  :javascript
    window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})

:javascript
  $(function(){
    window.quotes.reset(#{@quotes.to_json()});
    Backbone.history.start({pushState: true});
  });


%script{ :type => 'text/template', :id => 'quote-template' }
  %div.mq-box.mq-nav-item <%= quote.get('number') %>


%script{ :type => 'text/template', :id => 'quote-detail-template' }
  %div.span-24
    %h3.bottom Zitat Nummer <%= quote.get('number') %>
    %span.small
      erstellt am
      <time datetime="<%= quote.get('qdate') %>"><%= formattedDate %></time>
      mit bisher <%= quote.get('commits') %> Einsendungen
    %div#progress.mq-progress-bar
    %div#play.mq-play-btn.top
      /%img{ :src => 'img/playarrow.png' }
      %div.mq-play-arrow
    %input.title.mq-input.span-22{ :name => 'solution', :placeholder => "Zitat abspielen und Antwort hier eingeben" }
    
    %div.span-24
      %p.prepend-0
        %a.button.mq-button abschicken
    %hr


%script{ :type => 'text/template', :id => 'quote-result-template' }
  %div.span-8
    %p
      %h3.bottom L&ouml;sung von Zitat Nummer <%= quote.number %>
      %span.small
        bisherige L&ouml;sungsquote liegt bei <%= rate %>% (<%= quote.solutions %>/<%= quote.commits %>)
  %div.span-16.last
    %p
      %nav
        %ul.mq-nav-list
          %li
            <a target='_blank' href='<%= quote.trailer %>'><div class='mq-box mq-nav-item'>trailer</div></a>
          %li
            <a target='_blank' href='<%= quote.info %>'><div class='mq-box mq-nav-item'>info</div></a>
          %li
            <a target='_blank' href='<%= quote.buy %>'><div class='mq-box mq-nav-item'>amazon</div></a>
  %div.span-24.last
    Du hattest
    %span.small
      <%= posted %>
    eingegeben.
    
    <% if( quote.titles.length === 1  ){ %>
    Die richtige Antwort ist
    %span.small
      <%= quote.titles[0] %>.
    <% } else { %>
    M&ouml;gliche richtige Antworten sind
    %span.small
      <%= quote.titles[0] %>
    sowie
    %span.small
      <%= quote.titles[1] %>.
    <% } %>
    Somit ist deine Antwort
    %h2.bottom
      <% if( correct  ){ %>
      %span.mq-sol.correct
        richtig
      <% } else { %>
      %span.mq-sol.wrong
        falsch      
      <% } %>
    %hr

</html>